header {
    top: 0;
    position: sticky; 
    background-color: royalblue;
}

header h1{
    display: inline-block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav {
    vertical-align: middle;
    float: right;  
}

header nav a {
    text-decoration: none;

}

header nav ul{
    margin-top: 30px;

}
header nav ul li {
    display: inline-block;
    font-weight: bold;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 30px;
}

body {
    background: linear-gradient(180deg, royalblue, skyblue);
    
}

main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main a {
    text-decoration: none;
}
#intro {
    background-color: white;
    width: 100%;    
}

#intro-img {
    padding-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#intro-text {
    margin: auto;
    width: 25%;
}

#My-Work {
    display: flex;
    justify-content: center;
}

#my-work-text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.app {
    border: solid 10px darkblue;
    display: flex ;
    flex-wrap: wrap;
    outline-style: solid;
    margin: 5%;
    flex-direction: column;
    align-items: center;
}

.app img {
    width: 70%;
}

#app1 {
    width: 90%;
}

#app2 {
    width: 75%;
}

footer {
    background-color: royalblue;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer p {
    display: inline-block;
}
@media screen and (max-width: 480px) {
    header nav {
        display: none;
    }
    
    #My-Work {
        flex-direction: column;
    }
  }